@model IEnumerable<CustomerWebapp1.Models.appoinment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customercontact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mechanic.MechanicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service1.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Chassis_No)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customercontact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mechanic.MechanicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service1.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Chassis_No)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
